<footer>
    <section>
        <h3>Copyright © 1999-2020 Nicotine S.R.L.</h3>
        <div class="iconos-redes">
            <a href="#"><i class="lni lni-instagram-original"></i></a>
            <a href="#"><i class="lni lni-facebook-original"></i></a>
            <a href="#"><i class="lni lni-twitter-original"></i></a>
        </div>
    </section>
</footer>