<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f09d19ae7c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
    <link rel="stylesheet" href="<%= css %>">
    <title>Nicotine</title>
</head>

<body>
    <header class="header-fixed">
        <div class="top-header contenedor">

            <a href="/"><img class="logo" src="/images/NICOTINE.png" alt="Logo Nicotine"></a>
            <div class="buscador">
                <input type="search" name="buscador" placeholder="Buscá lo que quieras...">
                <button><i class="fas fa-search"></i></button>
            </div>
            <div class="login">
                <div class="log-web">
                    <a href="#">Login</a>
                    <a href="#">|</a>
                    <a href="javascript:abrir()">Registrarse</a>
                    
                    
                </div>
                <div class="log-movil" >
                    <a  href="/users/login"><i class="far fa-user"></i></a>
                    <a  href="/products/cart"><i class="fas fa-shopping-bag"></i></a>
                </div>
            </div>
        </div>
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar"><i class="lni lni-menu"></i></label>
        <nav class="menu">
            <a href="#">Nuestros Productos</a>
            <a href="#">Locales</a>
            <a href="#">Promociones</a>
            <a href="#">Nosotros</a>
        </nav>

    </header>
    <section class="banner">
        <img src="/images/banner.png" alt="">
    </section>