<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f09d19ae7c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <title>Nicotine</title>
</head>

<body>
    <header class="header-fixed">
        <div class="top-header contenedor">

            <img class="logo" src="/images/NICOTINE.png" alt="Logo Nicotine">
            <div class="buscador">
                <input type="search" name="buscador" placeholder="Buscá lo que quieras...">
                <button><i class="fas fa-search"></i></button>
            </div>
            <div class="login">
                <div class="log-web">
                    <a href="#">Login</a>
                    <a href="#">|</a>
                    <a href="/login">Registrarse</a>
                    
                    
                </div>
                <div class="log-movil" >
                    <a  href="/login"><i class="far fa-user"></i></a>
                    <a  href="/login"><i class="fas fa-shopping-bag"></i></a>
                </div>
            </div>
        </div>
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar"><i class="lni lni-menu"></i></label>
        <nav class="menu">
            <a href="#">Nuestros Productos</a>
            <a href="#">Locales</a>
            <a href="#">Promociones</a>
            <a href="#">Nosotros</a>
        </nav>

    </header>
    <section class="banner">
        <img src="/images/banner.png" alt="">
    </section>
    <main>
    <section class="products">
        <article>
            <a href="/productDetail"><img src="/images/productos/1.jpg" alt=""></a>
            <div class="main-article">
                <p class="price">$ 2500</p>
                <p class="discount">20% DESC</p>
                <h4 class="description"> REMERA NIRVANA</h4>
            </div>
        </article>
        <article>
            <img src="/images/productos/2.jpg" alt="">
            <div class="main-article">
                <p class="price">$ 1580</p>
                <p class="discount">20%</p>
                <h4 class="description"> Remera Daft Punk</h4>
            </div>
        </article>
        <article>
            <img src="/images/productos/3.jpg" alt="">
            <div class="main-article">
                <p class="price">$ 3500</p>
                <p class="discount">20%</p>
                <h4 class="description"> Remera Superman</h4>
            </div>
        </article>
    </section>
    
        <div class="contenedor">
            <div class="fila">
                <div class="small">
                    <a href="#"><img src="/images/categorias/cat-rock2.jpg" alt="Categoria Rock"></a>
                    <a class="centrado" href="#"> Rock</a>
                </div>
                <div class="small">
                    <a href=""><img src="/images/categorias/cat-peliculas2.jpg" alt="Categoria Rock"></a>
                    <a class="centrado" href="#"> Peliculas y Series</a>
                </div>

            </div>
        </div>
    </main>
    <div class="iconos-envios">
        <section>
            <i class="lni lni-credit-cards"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>En nuestra tienda, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </section>
        <section>
            <i class="lni lni-delivery"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Nuestra tienda tenés envíos gratis en miles de productos.
            </p>
        </section>
        <section>
            <i class="lni lni-shopify"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Nicotine, no hay nada que no puedas hacer, porque estás siempre protegid@.
            </p>
        </section>


    </div>
    <footer>
        <section>
            <h3>Copyright © 1999-2020 Nicotine S.R.L.</h3>
            <div class="iconos-redes">
                <a href="#"><i class="lni lni-instagram-original"></i></a>
                <a href="#"><i class="lni lni-facebook-original"></i></a>
                <a href="#"><i class="lni lni-twitter-original"></i></a>
            </div>
        </section>
    </footer>
</body>

</html>