<%-include ("./partials/header.ejs",{css: "/css/login.css"})%>

    <main class="login-main">
        <section>
            <div class="login-box">
                <h2>Logueate y elegi tu remera favorita.</h2>
                <form action="#" method="">
                    <input type="text" name="usuario" placeholder="Ingrese usuario">
                    <input type="password" name="contraseña" placeholder="Ingrese su contraseña">
                    <button class="button-login" type="submit">Ingresar</button>
                    <button class="button-create-account" type="#">Crea una cuenta</button>
                </form>

            </div>
        </section>
    </main>
    <%-include ("./partials/footer.ejs")%>
</body>

</html>