<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remera Radiohead</title>
    <script src="https://kit.fontawesome.com/f09d19ae7c.js" crossorigin="anonymous"></script>
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/styles/detailProduct.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/detailProduct.css">
</head>

<body>
    <!--    <header class="contenedor-header">
            <div class="logo">
                <a href="#"><img src="/images/Logo-Nicotine.png" alt="Logo"></a>
            </div>
            <div class="contenedor-nav">
                <div class="buscador">
                    <input type="search" name="buscador" placeholder="Buscá lo que quieras...">
                    <button><i class="fas fa-search"></i></button>                
                </div>
                <nav class="navegacion">
                    <a href="#">Nuestros Productos</a>
                    <a href="#">Locales</a>
                    <a href="#">Promociones</a>
                    <a href="#">Nosotros</a>
                </nav>
            </div>
            <div class="contenedor-usuario">
                <div class="contenedor-login">
                    <p>
                        <a class="login" href="#">Log in |</a><a class="login" href="#"> Registrarse</a>
                    </p>
                </div>
                <div class="contenedor-iconos">
                    <div class="icono">
                        <a href="#"><i class="far fa-user"></i></a>
                    </div>
                    <div class="icono">
                        <a href="#"><i class="fas fa-shopping-bag"></i></a>
                    </div>
                </div>
            </div>
        </header>-->
    <header class="header-fixed">
        <div class="top-header contenedor">

            <img class="logo" src="/images/NICOTINE.png" alt="Logo Nicotine">
            <div class="buscador">
                <input type="search" name="buscador" placeholder="Buscá lo que quieras...">
                <button><i class="fas fa-search"></i></button>
            </div>
            <div class="login">
                <div class="log-web">
                    <a href="#">Login</a>
                    <a href="#">|</a>
                    <a href="/login">Registrarse</a>
                </div>
                <div class="log-movil">
                    <a href="/login"><i class="far fa-user"></i></a>
                    <a href="/login"><i class="fas fa-shopping-bag"></i></a>
                </div>
            </div>
        </div>
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar"><i class="lni lni-menu"></i></label>
        <nav class="menu">
            <a href="#">Nuestros Productos</a>
            <a href="#">Locales</a>
            <a href="#">Promociones</a>
            <a href="#">Nosotros</a>
        </nav>

    </header>
    <section class="banner">
        <img src="/images/banner.png" alt="">
    </section>


    <main>
        <section class="interes">
            <h2>Tambien podría interesarte</h2>

            <div class="contenedor-interes">
                <div>
                    <img class="imagen-interes" src="/images/remeras/buzoRadioHead.webp" alt="Buzo">
                </div>
                <div class="info-interes">
                    <h3 class="titulo-interes">Buzo Radiohead</h3>
                    <p class="precio-interes">$1242</p>
                    <p class="talle-interes">Talles disponibles</p>
                    <div class="div-talle">
                        <p>S</p>
                        <p>M</p>
                        <p>XL</p>
                    </div>

                </div>

            </div>
            <div class="contenedor-interes">
                <div>
                    <img class="imagen-interes" src="/images/remeras/buzoRadioHead.webp" alt="Buzo">
                </div>
                <div class="info-interes">
                    <h3 class="titulo-interes">Buzo Radiohead</h3>
                    <p class="precio-interes">$1242</p>
                    <p class="talle-interes">Talles disponibles</p>
                    <div class="contenedor-div-talle">
                        <div class="div-talle">
                            <p>XS</p>
                            <p>S</p>
                            <p>M</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contenedor-interes">
                <div>
                    <img class="imagen-interes" src="/images/remeras/buzoRadioHead.webp" alt="Buzo">
                </div>
                <div class="info-interes">
                    <h3 class="titulo-interes">Buzo Radiohead</h3>
                    <p class="precio-interes">$1242</p>
                    <p class="talle-interes">Talles disponibles</p>
                    <div class="contenedor-div-talle">
                        <div class="div-talle">
                            <p>XS</p>
                            <p>S</p>
                            <p>M</p>
                            <p>L</p>
                            <p>XL</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contenedor-interes">
                <div>
                    <img class="imagen-interes" src="/images/remeras/buzoRadioHead.webp" alt="Buzo">
                </div>
                <div class="info-interes">
                    <h3 class="titulo-interes">Buzo Radiohead</h3>
                    <p class="precio-interes">$1242</p>
                    <p class="talle-interes">Talles disponibles</p>
                    <div class="contenedor-div-talle">
                        <!-- <div class="div-talle">
                            <p>S</p>
                        </div>
                        <div class="div-talle">
                            <p>M</p>
                        </div>
                        <div class="div-talle">
                            <p>L</p>
                        </div>
                        <div class="div-talle">
                            <p>XL</p>
                        </div>
                        -->
                        <div class="div-talle">
                            <p>XS</p>
                            <p>S</p>
                            <p>M</p>
                            <p>L</p>
                            <p>XL</p>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section class="producto">
            <div class="ruta">
                <a href="#">Inicio </a>
                <p> > </p> <a href="#">Remeras </a>
                <p> > </p> <a href="#">Artistas musicales </a>
                <p> > </p> <a href="#">Radiohead </a>
                <p> > </p> <a href="#">Remera Radiohead</a>
            </div>
            <div class="titulo-producto">
                <h1>Remera Radiohead</h1>
            </div>
            <div class="contenedor-fotos">
                <div class="remeras-lateral">
                    <a href="#"><img class="remera2" src="/images/remeras/radioHeadBlanca.jpg" alt="Blanca"></a>
                    <a href="#"><img class="remera2" src="/images/remeras/remeraRadioHead.jpg" alt="Blanca"></a>
                </div>
                <img class="remera" src="/images/remeras/remeraRadioHead.jpg" alt="#">
            </div>
        </section>
        <section class="detalles">
            <div class="precio">
                <h2>$900</h2><span>x 6 cuotas sin interés</span>
            </div>
            <form action="#" method="POST" class="form">
                <label for="talle"></label>
                <select class="talle" name="talle" id="talle">
                    <option>Talle</option>
                    <option value="s">S</option>
                    <option value="m">M</option>
                    <option value="l">L</option>
                    <option value="xl">XL</option>
                </select>
                <label for="color"></label>
                <select class="color" name="color" id="color">
                    <option>Color</option>
                    <option value="negro">Negro</option>
                    <option value="blanco">Blanco</option>
                </select>
                <label for="cantidad"></label>
                <select class="cantidad" name="cantidad" id="cantidad">
                    <option>Cantidad</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </form>
            <div class="boton">
                <button type="submit">Agregar al Carrito</button>
            </div>
            <div class="contenedor-mercado">
                <img class="mercado" src="/images/mercado-pago.png" alt="Mercado Pago">
            </div>
        </section>
    </main>
    <footer>
        <section>
            <h3>Copyright © 1999-2020 Nicotine S.R.L.</h3>
            <div class="iconos-redes">
                <a href="#"><i class="lni lni-instagram-original"></i></a>
                <a href="#"><i class="lni lni-facebook-original"></i></a>
                <a href="#"><i class="lni lni-twitter-original"></i></a>
            </div>
        </section>
    </footer>
</body>

</html>