<%-include ("./partials/header.ejs",{css: "/css/productCart.css"})%>

    <main>
        <h1>Tu carrito</h1>
        <section>
            <article>
                <div>
                    <img class="remera" src="/images/productos/1.jpg" alt="Remera Nirvana">
                </div>
                <div class="info">
                    <h2>Remera Nirvana</h2>
                    <p>$2500</p>
                    <label for="talle"></label>
                    <select class="talle" name="talle" id="talle">
                        <option>Talle</option>
                        <option value="s">S</option>
                        <option value="m">M</option>
                        <option value="l">L</option>
                        <option value="xl">XL</option>
                    </select>
                </div>
                <div>
                    <div class="button-container">
                        <button class="button" type="button">-</button>
                        <input class="quantity" type="text" value="1">
                        <button class="button" type="button">+</button>
                    </div>
                    <div>
                        <a class="trash" href="#"><i class="far fa-trash-alt"></i></a>
                    </div>
                </div>
            </article>
            <article>
                <div>
                    <img class="remera" src="/images/productos/1.jpg" alt="Remera Nirvana">
                </div>
                <div class="info">
                    <h2>Remera Nirvana</h2>
                    <p>$2500</p>
                    <label for="talle"></label>
                    <select class="talle" name="talle" id="talle">
                        <option>Talle</option>
                        <option value="s">S</option>
                        <option value="m">M</option>
                        <option value="l">L</option>
                        <option value="xl">XL</option>
                    </select>
                </div>
                <div>
                    <div class="button-container">
                        <button class="button" type="button">-</button>
                        <input class="quantity" type="text" value="1">
                        <button class="button" type="button">+</button>
                    </div>
                    <div>
                        <a class="trash" href="#"><i class="far fa-trash-alt"></i></a>
                    </div>
                </div>
                </div>
            </article>
            <article>
                <div>
                    <img class="remera" src="/images/productos/1.jpg" alt="Remera Nirvana">
                </div>
                <div class="info">
                    <h2>Remera Nirvana</h2>
                    <p>$2500</p>
                    <label for="talle"></label>
                    <select class="talle" name="talle" id="talle">
                        <option>Talle</option>
                        <option value="s">S</option>
                        <option value="m">M</option>
                        <option value="l">L</option>
                        <option value="xl">XL</option>
                    </select>
                </div>
                <div>
                    <div class="button-container">
                        <button class="button" type="button">-</button>
                        <input class="quantity" type="text" value="1">
                        <button class="button" type="button">+</button>
                    </div>
                    
                        <a class="trash" href="#"><i class="far fa-trash-alt"></i></a>
                    </div>
                </div>
            </article>
        </section>
        <section class="buy-detail">
            <div class="price">
                <h3>Total compra</h3>
                <p class="total">$7500</p>
            </div>
            <div class="shipping">
                <label class="miro-radiobutton">
                    <input type="radio" value="0" name="radio" checked>
                    <span>Retiras por nuestro <a href="#">local</a> ?</span>
                </label> <br>
                <label class="miro-radiobutton">
                    <input type="radio" value="1" name="radio">
                    <span>Envio a CP: 1834 = $399</span>
                </label>
            </div>
            <div class="final-price">
                <h2>Total a pagar:</h2>
                <p>$7899</p>
            </div>
            <div class="pay-method-container">
                <h3>Método de pago</h3>
                <label for="pay-method"></label>
                <select class="pay-method" name="pay-method" id="pay-method">
                    <option value="credit">Crédito</option>
                    <option value="cash">Efectivo</option>
                    <option value="debit">Débito</option>
                </select>
                <label for="pay-options"></label>
                <select class="pay-options" name="pay-options" id="pay-options">
                    <option value="visa">Visa</option>
                    <option value="masterCard">Master Card</option>
                    <option value="americanExpress">American Express</option>
                </select>
            </div>
            <div>
                <button class="buy-button" type="submit">Comprar ahora</button>
            </div>
        </section>
    </main>
    <%-include ("./partials/footer.ejs")%>
</body>

</html>