<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nicotine</title>
    <script src="https://kit.fontawesome.com/f09d19ae7c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/styles/detailProduct.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
</head>
    <body>
        <header class="contenedor-header">
            <div class="logo">
                <a href="#"><img src="../public/images/Logo-Nicotine.png" alt="Logo"></a>
            </div>
            <div class="contenedor-nav">
                <div class="buscador">
                    <input type="search" name="buscador" placeholder="Buscá lo que quieras...">
                    <button><i class="fas fa-search"></i></button>                
                </div>
                <nav class="navegacion">
                    <a href="#">Nuestros Productos</a>
                    <a href="#">Locales</a>
                    <a href="#">Promociones</a>
                    <a href="#">Nosotros</a>
                </nav>
            </div>
            <div class="contenedor-usuario">
                <div class="contenedor-login">
                    <p>
                        <a class="login" href="#">Log in |</a><a class="login" href="#"> Registrarse</a>
                    </p>
                </div>
                <div class="contenedor-iconos">
                    <div class="icono">
                        <a href="#"><i class="far fa-user"></i></a>
                    </div>
                    <div class="icono">
                        <a href="#"><i class="fas fa-shopping-bag"></i></a>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <section>

            </section>
            <section>

            </section>
            <section>

            </section>
        </main>
    </body>
</html>


