@import url(header.css);
@import url(footer.css);

:root {
    --blanco: #ffffff;
    --grisClaro: #dcdcdc;
    --gris: #9f9f9f;
    --grisOscuro: #5b5b5b;
    --negro: #060606;
    --violeta: #a11aa0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rajdhani", sans-serif;
}

main {
    margin: 0;
    padding: 0;
    background-color: var(--gris);
}

.container {
    margin: auto;
    max-width: 800px;
    width: 100%;
    padding: 30px;
}

ul, li {
margin: 0;
padding: 0;
list-style: none;
}

ul.slider {
    position: relative;
    max-width: 800px;
    width: 100%;
    height: 300px;
}

ul.slider li {
    position: absolute;
    left: 0;
    top: 0;
    max-width: inherit;
    width: inherit;
    height: inherit;
    background-color: white;
    transition: opacity .5s;
    opacity: 0;
}

ul.slider li img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1;
}

ul.slider li:target {
    opacity: 1;
}

.slider-options{
    text-align: center;
    margin: 20px;
}
  
.slider-options li{
    display: inline-block;
    text-align: center;
}
  
.slider-options li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 35px;
    height: 35px;
    font-size: 20px;
    border-radius: 100%;
}

li.we {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li.we h2, li.we p {
    margin-bottom: 30px;
}

li.we p {
    padding: 0px 20px;
}

.fa-music {
    margin-right: 50px;
}