@import url(header.css);
@import url(footer.css);
:root {
    --blanco: #ffffff;
    --grisClaro: #dcdcdc;
    --gris: #9f9f9f;
    --grisOscuro: #5B5B5B;
    --negro: #060606;
    --violeta: #a11aa0;
}
* {
    margin: 0px;
}

body {
    font-family: 'Rajdhani', sans-serif;
    background-color:var(--gris);
}

.contenedor {
    width: 98%;
    margin: auto;
}

.banner {
    margin-top: 150px;
}

.banner img {
    width: 100%;
    height: 100%;
}

.products {
    background-color: var(--gris);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.products img {
    margin: 5px;
    border-radius: 10px 10px 10px 10px;
    height: 300px;
    width: 300px;
}

.products article {
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
    background: rgba(51, 51, 51, 0.9);
    box-shadow: 5px 5px 5px 0px rgba(107, 32, 135, 0.75);
}
article img {
    width: 100%;
    height: 100%;
}
article p {
    font-weight: bolder;
    color: white;
    margin: 10px;
}

article h4 {
    font-size: 18px;
    color: white;
    margin: 10px;
}

.fila {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
}

.small img {
    width: 500px;
    height: 300px;
    filter: grayscale(100%)
}

.small {
    position: relative;
    display: inline-block;
    text-align: center;

}

.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    text-decoration: none;
    color: yellow;
    font-size: 40px;
    font-weight: bold;
}

.fila img:hover {
    filter: grayscale(0%);
}

.iconos-envios {
    display: flex;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.iconos-envios p {
    font-size: 18px;
}

.iconos-envios i {
    font-size: 35px;
    color: rgba(107, 32, 135, 0.75);
}




@media (min-width:780px) {
    .small img {
        padding: 10px;
        height: 400px;
        width: 600px;
    }
     
}
@media (min-width:1000px)
 {
    .fila {
        display: flex;
        flex-wrap: wrap;
    }
}