* {
    margin: 0px;
}

body {
    font-family: 'Rajdhani', sans-serif;
    background-color: gray;
}

.contenedor {
    width: 98%;
    margin: auto;
}

header {
    background-color: black;
    height: 150px;
    padding-top: 10px;
}

header a {
    text-decoration: none;
    color: white;
}
.header-fixed{
    width: 100%;
    position: fixed;
    top:0px;
    z-index: 100;
}
.top-header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-header i {
    font-size: 18px;
}

.top-header i:hover {
    color: rgba(107, 32, 135, 0.75);
}

.search-bar {
    display: none;
    border: solid rgba(107, 32, 135, 0.75) 3px;
    border-radius: 20px
}

.search-bar input {
    border-radius: 20px;
    width: 250px;
    height: 25px;
}

.login {
    display: flex;
    align-items: center;
}

.log-movil {
    position: relative;
    padding: 10px;
    right: 50px;
    top: 10px
}

.log-web {
    display: none;
}

#menu-bar {
    display: none;
}

header label {
    position: absolute;
    top: 120px;
    right: 50%;
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

header label:hover {
    color: rgba(107, 32, 135, 0.75);
}

.menu {
    position: absolute;
    top: 160px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(51, 51, 51, 0.9);
    transition: all 0.5s;
    transform: translateX(-100%);
}

.menu a {
    display: block;
    color: #fff;
    height: 60px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.menu a:hover {
    background: rgba(107, 32, 135, 0.75);
    transform: translateX(0%);
}

#menu-bar:checked~.menu {
    transform: translateX(0%);
}


header label {
    float: right;
    color: white;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.banner{
    margin-top: 150px;
}
.banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translateX(-50%) translateY(-50%);
    color: #fff
}

.banner img {
    width: 100%;
    height: 100%;
}

article img {
    width: 100%;
    height: 100%;
}


.products {
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.products img {
    margin: 5px;
    border-radius: 10px 10px 10px 10px;
    height: 300px;
    width: 300px;
}

.products article {
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
    background: rgba(51, 51, 51, 0.9);
    box-shadow: 5px 5px 5px 0px rgba(107, 32, 135, 0.75);
}

article p {
    font-weight: bolder;
    color: white;
    margin: 10px;
}

article h4 {
    font-size: 18px;
    color: white;
    margin: 10px;
}

.fila {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
}

.small img {
    width: 500px;
    height: 300px;
    filter: grayscale(100%)
}

.small {
    position: relative;
    display: inline-block;
    text-align: center;

}

.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    text-decoration: none;
    color: yellow;
    font-size: 40px;
    font-weight: bold;
}

.fila img:hover {
    filter: grayscale(0%);
}

.iconos-envios {
    display: flex;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.iconos-envios p {
    font-size: 18px;
}

.iconos-envios i {
    font-size: 35px;
    color: rgba(107, 32, 135, 0.75);
}

footer {
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

.iconos-redes i {
    color: rgba(107, 32, 135, 0.75);
    font-size: 33px;
    margin: auto;
}


@media (min-width:780px) {

    .search-bar {
        display: block;
    }

    .small img {
        padding: 10px;
        height: 400px;
        width: 600px;
    }

    .log-web {
        display: block;
    }

    .login {
        justify-content: space-around;
    }

    .log-movil {
        position: unset;

    }
    footer section{
        display: flex;
        justify-content: space-between;
        margin-right: 30px;
        margin-left:30px;
    }

}
    @media (min-width:1000px) {
        .fila {
            display: flex;
            flex-wrap: wrap;
        }

        .header {
            height: 160px;
        }

        header label {
            display: none;
        }

        .menu {
            display: block;
            width: 100%;
            height: 50px;
            background: black;
            position: static;
            transform: translateX(0%);
            transition: none;
            display: flex;
            justify-content: space-around;
        }

        .menu a {
            height: 5px;
            text-decoration: none;
            padding: 10px;
            border-bottom: none;
        }

    }
