@import url(header.css);
@import url(footer.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rajdhani", sans-serif;
}

main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.register-box {
    max-width: 348px;
    background-color: transparent;
    padding: 15px 15px;
    border: 2px black solid;
    margin: 30px 0;
    border-radius: 15px;
}

.register-box h2 {
    padding: 5px;
    margin: auto;
}

.control {
    width: 100%;
    width: 100%;
    border-color: black;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
  
}

.send-button {
    align-self: center;
    justify-self: center;
    width: 100%;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border-color: black;
    background-color: black;
    color: white;
}

.send-button:hover {
    color: rgba(107, 32, 135, 0.75);
    font-weight: bold;
    font-size: 17px;
}