:root {
    --blanco: #ffffff;
    --grisClaro: #dcdcdc;
    --gris:#9f9f9f;
    --grisOscuro: ;
    --negro: #060606;
    --violeta: #a11aa0;
}

html {
    height: 100%;
    background-image: linear-gradient(to bottom, #5b5b5b 0%, var(--grisClaro) 100%);
    background-repeat: no-repeat;
    font-family: 'Rajdhani', sans-serif;
    box-sizing: border-box;
}

.contenedor-header {
    width: auto;
    height: 5rem;
    display: flex;
    background-color: var(--grisOscuro);
}

.logo img {
    height: 2.9rem;
    text-align: center;
    padding-top: 1.1rem;
    width: 10rem;
}

.contenedor-nav{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.buscador{
    margin-bottom: auto;
    text-align: center;
    padding-top: 20px;
    
}

.buscador input {
    width: 35rem;
    border: 3px solid var(--violeta);
    height: 2rem;
}

.buscador button {
    height: 2rem;
    border: 3px solid var(--violeta);
    color: var(--blanco);
    background-color: var(--violeta);
}


nav a{
    display: block;
    text-align: center;
    padding: 0.2rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0.3rem;
}

nav a:hover {
    color: var(--negro);
    background-color: var(--violeta);
    border-radius: 15%;
}

.navegacion {
    display: flex;
    width: auto;
    height: 50%;
    justify-content: space-around;
    align-items: center;
}

.contenedor-usuario {
    display: flex;
    flex-direction: column;
}

.contenedor-login {
    display: flex;

}

.login {
    color: var(--blanco);
    text-decoration: none;
}

.contenedor-iconos {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.contenedor-iconos i {
    color: var(--blanco);
    background-color: var(--violeta);
    border-radius: 50%;
    display: inline-block;
}

.icono {
    background-color: var(--violeta);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}