<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Películas ordas por rating</title>
    
</head>
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1>Usuarios con sus roles</h1>
    <ul>
        <% for( let i = 0; i < users.length; i++ ) { %>
        <li>
            <a href="users[i].id_usuario%>"><%= users[i].name %> </a> <br>
            <%= 'ROL: ' + roles[i].descripcion %> 
        </li>
        <% } %>
        
    </ul>
</body>
</html>